.filterDiv {
  color: white;

  border: none;

  display: none;
}

.show {
  display: inline-block;
}

/* Style the buttons */
.btn {
	border: none;
  outline: none;
  padding: 10px 10px ;
  background-color: #f1f1f1;
  cursor: pointer;
  
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.open-button {
  
  color: white;

  border: none;
  cursor: pointer;

}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;

  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  padding: 10px;
  background-color: white;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
.card img {
	width : 15%;
	max-width: 130px;
	height: auto;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
div.view_title { position: relative; height: 32px; line-height: 32px; font-size: 14px; font-weight: bold; text-align: left; padding: 6px 0 0 10px; margin-bottom: 10px;
	color: #ec5e00; 
	border-bottom: 2px solid #ec5e00;}
div.view_title a { position: absolute; top: 12px; right: 0; display: block; width: 50px; height: 20px; line-height: 22px; text-align: center; font-size: 12px;
	color: #fff; background-color: #555;}